.top-bar {
    background-color: #32404F;
    height: 45px;
    line-height : 45px;
}

.vertical-partition-line {
    position: relative;
    margin-left: 10px;
}

.vertical-partition-line:before {
    content: '';
    display: block;
    height: 18px;
    left: -5px;
    position: absolute;
    top: 4px;
    width: 1px;
    background: rgba(255, 255, 255, 0.3);
}